<div class='row'>
  <div class='col-md-12'>

    <pm-product-list [displayCode]="displayCode$ | async"
                     [displayFilter]="displayFilter$ | async"
                     [displayDescription]="displayDescription$ | async"
                     [products]="products$ | async"
                     [selectedProduct]="selectedProduct$ | async"
                     [errorMessage]="errorMessage$ | async"
                     (displayCodeChanged)="checkChanged()"
                     (displayDescriptionChanged)="checkChangedDescription()"
                     (displayFilterChanged)="checkChangedFilter()"
                     (initializeNewProduct)="newProduct()"
                     (productWasSelected)="productSelected($any($event))"></pm-product-list>
</div>
<div class="col-md-8">
    <pm-product-edit [selectedProduct]="selectedProduct$ | async"
                     [errorMessage]="errorMessage$ | async"
                     (clearCurrent)="clearProduct()"
                     [products]="products$ | async"
                     (update)="updateProduct($any($event))"
                     (delete)="deleteProduct($any($event))"
                     [displayFilter]="displayFilter$ | async"
                     (create)="saveProduct($any($event))">
    </pm-product-edit>
  </div>
</div>



